<header class='marketing'>
  <div class='marketing-navigation'>
    <div class='wrapper'>
      <a href="/"><h1 class='logo'>Cortex</h1>
      </a><h2>Building Intelligence</h2>
      <ul>
        <li>
        <a class='contact' href='http://cortexintel.com'>Home</a>
        </li>
        <li>
        <a class='contact' href='/'>Blog</a>
        </li>
      </ul>
    </div>
  </div>
  <div class='wrapper hero'>
    <h1>Cortex Engineering</h1>
  </div>
  <div class='gradient'></div>
  <div class='overlay'></div>
</header>
