<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta content='NOODP' name='ROBOTS'>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
<meta content='yes' name="apple-mobile-web-app-capable'">
<meta content='summary' name='twitter:card'>
<meta content='@cortexbi' name='twitter:site'>
<meta content='Cortex helps building operators and engineers make efficient use of resources, helping reduce utility usage improve the bottom line and reduce environmental impact.' name='twitter:description'>
<title>Cortex - {{ page.title }}</title>
<link href="//d13ztc6l1np1dy.cloudfront.net/assets/favicon-b442f01888a2dce69dbd01c863b6f1fe.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
<link href="//d13ztc6l1np1dy.cloudfront.net/assets/application-07f86ca0318c1f9fe220cb93805e3f1c.css" media="all" rel="stylesheet">
<link href="/css/syntax.css" media="all" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
<script src="//d13ztc6l1np1dy.cloudfront.net/assets/html5shiv-ef2b391249a3ec0e4e71d02000880f54.js"></script>
<![endif]-->
<script src="//d13ztc6l1np1dy.cloudfront.net/assets/respond-ef2b391249a3ec0e4e71d02000880f54.js"></script>
</head>

<body class='blog'>
<div class='main-content'>
  <header class='marketing'>
    <div class='marketing-navigation'>
      <div class='wrapper'>
        <a href="/"><h1 class='logo'>Cortex</h1>
        </a><h2>Building Intelligence</h2>
        <ul>
          <li>
            <a class='contact' href='http://cortexintel.com'>Home</a>
          </li>
          <li>
            <a class='contact' href='/'>Blog</a>
          </li>
        </ul>
      </div>
    </div>
    <div class='wrapper hero'>
      <h1>Cortex Engineering</h1>
    </div>
    <div class='gradient'></div>
    <div class='overlay'></div>
  </header>

  <section class="content">
    {{ content }}
  </section>
</div>

  <script type="text/javascript">
window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",

window.analytics.load("gqubc2i6gu");


params = {}

window.analytics.page("homepage", "Cortex - Home", params);
  </script>
</body>
</html>
